@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    text-align: center;
}

body > img {
    width: 80%;
    height: auto;
    margin: auto;
}


.amiiboLogo {
    width: 25%;
}



