@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #FF4554;
}

.title, .search, h3, h1, p{
    background-color: #FF4554;
}

body {
    text-align: center;
    background-color: #00C3E3;
    ;
}

header {
    background-color: pink;
}

footer {
    background-color: aquamarine;
}

body > img {
    width: 80%;
    height: auto;
    margin: auto;
}

div {
    background-color: white;
}
.amiiboLogo {
    width: 25%;
}

.allAmiibos {
    width: 75%;
}






