@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #FF4554;
}

.title, h3, h1, p{
    background-color: #FF4554;
}

p {
    
}

body {
    text-align: center;
    background-color: #00C3E3;
    ;
}

header {
    background-color: pink;
}

footer {
    background-color: aquamarine;
}

body > img {
    width: 80%;
    height: auto;
    margin: auto;
}


.amiiboLogo {
    width: 25%;
}





